/*
  #2C3E50
  #E74C3C
  #ECF0F1
  #3498DB
  #2980B9
*/

@font-face {
  font-family: 'Lato';
  src: url(/static/fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Merriweather';
  src: url(/static/fonts/Merriweather-Regular.ttf) format("truetype");
}

body {
  font-family: Merriweather;
  color: #2C3E50;
}

h1, h2, h3 {
  font-family: Lato;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.user-card {
  margin: 10px auto;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-card img {
  width: 100px;
  border-radius: 50%;
}

.user-card span {
  margin: 10px;
  font: normal 2.0em Lato;
}

.user-card i {
  color: #E74C3C;
  font-size: 2.0em;
}

.story {
  padding: 5px 10px;
  background: #ECF0F1;
  border-radius: 3px;
  margin: 20px auto;
}

.story img {
  width: 100%;
}
