<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - Flask Demo Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      {% block footer %} &copy; Copyright 2016
      by <a href="http://chrisostrouchov.com">Chris Ostrouchov</a>.
      {% endblock %}
    </div>
  </body>
</html>
